<div class="comment clearfix">
	<div class="comment_content">
		<% if floorplan.name %>
			<p class="comment_name"><strong><%= floorplan.name %></strong></p>
		<% else %>
			<p class="comment_name"><strong><%= floorplan.image_identifier %></strong></p>
		<%end %>
		<div class="imageplaceholder"> <%= image_tag floorplan.image_url(:thumb).to_s %> </div>
		<div class="imageplaceholder"> <%= image_tag floorplan.image_url(:large).to_s %> </div>
		
		<p class="comment_time"><%= time_ago_in_words(floorplan.created_at) %> Ago</p>
	</div>
	
						
	</p>
</div>