<div id="post_content">
<h1 class="title">
	<%= @project.title %>
</h1>

<p class="date">
	Submitted <%= time_ago_in_words(@project.created_at) %> Ago | 
	<%= link_to 'Delete', project_path(@project), method: :delete, data: { confirm: 'Are you sure ?'} %>
</p>

<p class="body">
	<%= @project.body %>
</p>
	<div id="comments">
	<h2> <%= @project.floorplans.count %> Floorplans</h2>
	<%= render @project.floorplans %>

	<h3> Add a Floorplan:</h3>
	<%= render "floorplans/form" %>
</div>

</div> 